/* styles for produts,this can be included in the main css */

.cat-container {
    justify-content: center;
    display: flex;
    flex-direction: raw;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    cursor: pointer;
    padding: 12px 12px;
    align-content: space-between;
    justify-content: space-between;

}

.category {

    width: 33%;
    margin: :10px;
}

.cat-img {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    opacity: 90%;

}

.cat-img>img {

    height: 550px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.cat-img>img:hover {
    opacity: 100%;
    transform: scale(1.1);
}

.cat-btn {
    border: 1px solid;
    border-color: var(--clr-primary-green);
    color: var(--clr-primary-green);
    background-color: var(--clr-neutral);
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    margin: 20px 0 60px 0;
    font-family: var(--ff-main-font);
    font-size: 18px;
    font-weight: bold;
    font-variant: small-caps;
    cursor: pointer;
}

.cat-btn:hover {
    background-color: var(--clr-primary-green);
    color: var(--clr-neutral);

}

/* media queries */
@media(max-width: 574px) {
    .cat-img>img {

        height: auto;

    }

    .category {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 500%;
        margin: : auto;
    }

    .cat-btn {
        text-align: center;
        margin: 10px;
        font-size: 14px;
        padding: 15px 15px;
    }
}